* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Chivo', sans-serif;
    margin-bottom:75px;
    font-size:18px;
    line-height:24px;
    background:black;
}

/* Header Styles */

header {
    width:100%;
    background:darkmagenta;
    color:white;
    text-align:center;
}

h1 {
    margin:0;
    line-height:50px;
    font-family: 'Comfortaa', cursive;
}

.subtitle {
    font-size:22px;
    line-height:30px;
}

/* Landing view styles */

div {
    background:white;
}

.landing-view {
    border:2px solid blue;
    width:60%;
    min-width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
}

input {
    margin-top:5px;
    margin-bottom:5px;
}

.date-input {
    width:50px;
}

.error {
    text-align:center;
    color:red;
}

#album-container {
    border: 1px solid black;
    width:100%;
    height:100%;
    top:0;
    position:absolute;
    z-index:-1;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:black;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    overflow:hidden;
}

.album-image {
    margin:5px;
}

/* Location Select Styles */

.location-select {
    border:2px solid red;
    width:75%;
    min-width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
}

.locations-list {
    border:2px solid yellow;
    padding:8px;
}

.date-submitted {
    font-weight:bold;
}

button {
    display:block;
}

/* Artist Response Styles */

.artist-response {
    border:2px solid green;
    min-width:75%;
    width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
    display:flex;
    flex-direction:column;
}

.location-submitted {
    font-weight:bold;
}

.artists {
    border:2px solid yellow;
    width:100%;
    margin-right:0;
    padding:8px;
}

.artist-name {
    font-weight:bold;
    text-decoration:underline;
}

.event-link {
    font-size:12px;
    text-decoration:underline;
    color:blue;
}

/* Music player styles */

.music-player {
    background:yellow;
    min-height:300px;
}

.player-placeholder {
    background:black;
    border:2px solid yellow;
    width:100%;
    min-height:100px;
    color:white;
}

/* Footer styles */

footer {
    font-size:16px;
    width:100%;
    background:black;
    color:white;
    position:fixed;
    bottom:0;
    height:60px;
}

footer ul {
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

footer li {
}

/* Napster Styles */

.track-cover {
    background-size: cover;
    width: 300px;
    height: 300px;
    display: inline-block;
  }
  
.cover {
    background-size: cover;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0;
    float: left;
    border: 3px solid black; 
    position: relative;
}

.audio {
    position: absolute;
    bottom: 0;
    width:100px;
}
.cover:hover {
    cursor: pointer;
}
  
.content-name{
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
.back-button {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display:none;
}