* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom:75px;
    font-size:18px;
    line-height:24px;
    background:black;
}

a:link {
    color:#F22E2E;
}

a:visited {
    color:#BF3F3F;
}

a:hover {
    color:#590202;
    text-decoration:none;
}

a:active {
    text-decoration:none;
}

/* Header Styles */

header.main {
    width:75%;
    min-width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    background:#F22E2E;
    color:white;
    text-align:center;
}

header.subheading {
    background: #D8D9D7;
    color: #0D0D0D;
    border-radius: 5px;
    padding: 5px;
    text-align:center;
}

h1 {
    margin:0;
    line-height:50px;
    font-family: 'Comfortaa', cursive;
}

.subtitle {
    font-size:22px;
    line-height:30px;
}

/* Landing view styles */

div {
    background:white;
}

.landing-view {
    border:2px solid #F22E2E;
    width:75%;
    min-width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    padding:8px;
}

.instructions {
    font-size:16px;
}

form {
    margin-top:10px;
    text-align:center;
}

label {
    line-height:30px;
}

input, select {
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #F22E2E;
    font-size:16px;
    border-radius:5px;
    text-align:center;
    color:#0D0D0D;
}

select:hover {
    cursor:text;
}

.date-input {
    width:60px;
}

.location-submit {
    margin-left:auto;
    margin-right:auto;
}

.error {
    text-align:center;
    color:#F22E2E;
    background:#D8D9D7;
    display:block;
    border-radius:5px;
}

#album-container {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index:-1;
    display:flex;
    flex-flow:row wrap;
    background:#0D0D0D;
    align-items:center;
    align-content:center;
    justify-content:center;
    overflow:hidden;
}

.album-image {
    margin:5px;
}

/* Location Select Styles */

.location-select {
    border:2px solid #F22E2E;
    width:75%;
    min-width:275px;
    margin-left:auto;
    margin-right:auto;
    padding:16px;
    text-align:center;
}

.locations-list {
}

.date-submitted {
    font-weight:bold;
}

.location-result {
    width:250px;
}

button {
    display:block;
    background-color:#F22E2E;
    color:white;
    border-radius:5px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
    font-family:'Comfortaa', cursive;
}

/* Artist Response Styles */

.artist-response {
    border:2px solid #F22E2E;
    min-width:75%;
    width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    padding:8px;
    display:flex;
    flex-direction:column;
}

.location-submitted {
    font-weight:bold;
}

.artists {
    width:100%;
    margin-right:0;
    font-size:14px;
}

ul {
    list-style-type:none;
    padding:0;
}

.artist-result {
    background:#0D0D0D;
    color:#D8D9D7;
    padding:5px;
}

.top {
    margin-top:5px;
}

.bottom {
    margin-bottom:5px;
}

.artist-name {
    font-weight:bold;
}

.event-link {
    font-size:12px;
    text-align:center;
    text-decoration:underline;
    color:#BF3F3F;
}

.playbutton {
    width:15px;
    filter:invert(100%);
    float:left;
    margin-right:10px;
}

button.listen {
    background:#590202;
    margin-right:unset;
    margin-left:unset;
    text-align:left;
    line-height:18px;
    padding-top:15px;
    padding-bottom:15px;
}

/* Music player styles */

.music-player {
    background:#590202;
    min-height:300px;
    color:white;
    padding:8px;
    border-radius:10px;
    border: 2px solid #0D0D0D;
    position:relative;
}

.player-placeholder {
    background:black;
    width:100%;
    min-height:100px;
    color:white;
}

/* Footer styles */

footer {
    font-size:12px;
    width:100%;
    background:#F22E2E;
    color:white;
    position:fixed;
    bottom:0;
    height:30px;
}

footer ul {
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:5px;
    padding-right:5px;
}

/* Napster Styles */

#tracks-container {
    display:flex;
    flex-flow:row wrap;
    justify content:space-evenly;
    background:#590202;
}

.track-cover {
    background-size: cover;
    width: 300px;
    height: 300px;
    display: inline-block;
  }

.content-name {
    background:#0D0D0D;
    font-style:'Lato', sans-serif;
    font-size:16px;
    color: white;
    text-align: left;
    padding-left:5px;
}
  
.cover {
    background-size: cover;
    background:#0D0D0D;
    width: 100%;
    height:100px;
    display: inline-block;
    margin: 5px;
    float: left;
    border: 3px solid #0D0D0D; 
    position: relative;
}

.audio {
    position: absolute;
    bottom: 0;
    width:100%;
    padding:5px;
}
.cover:hover {
    cursor: pointer;
}
  
.content-name{
}
  
.back-button {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.search-again {
    position:absolute;
    bottom:10px;
    right:10px;
}

.hidden {
    display:none;
}

@media screen and (min-width: 999px) {
    .artists-flex {
        display:flex;
        flex-direction:row;
    }
    .artists {
        width:50%;
        margin:5px;
    }

  }