* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Nunito', sans-serif;
    margin-bottom:75px;
    font-size:18px;
    line-height:24px;
}

.hidden {
    display:none;
}

/* Header Styles */

header {
    width:100%;
    background:darkmagenta;
    color:white;
    text-align:center;
}

h1 {
    margin:0;
    line-height:50px;
}

.subtitle {
    font-size:22px;
    line-height:30px;
}

/* Landing view styles */

.landing-view {
    border:2px solid blue;
    width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
}

input {
    margin-top:5px;
    margin-bottom:5px;
}

.date-input {
    width:50px;
}

/* Location Select Styles */

.location-select {
    border:2px solid red;
    width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
}

.locations-list {
    border:2px solid yellow;
    padding:8px;
}

.date-submitted {
    font-weight:bold;
}

/* Artist Response Styles */

.artist-response {
    border:2px solid green;
    width:275px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:8px;
    display:flex;
    flex-direction:column;
}

.location-submitted {
    font-weight:bold;
}

.artists {
    border:2px solid yellow;
    width:100%;
    margin-right:0;
    padding:8px;
}

.artist-name {
    font-weight:bold;
    text-decoration:underline;
}

.event-detail {
    font-size:12px;
    font-style:italic;
}

.event-link {
    font-size:12px;
    text-decoration:underline;
    color:blue;
}

/* Music player styles */

.music-player {
    background:yellow;
}

.player-placeholder {
    background:black;
    border:2px solid yellow;
    width:100%;
    min-height:100px;
    color:white;
}

/* Footer styles */

footer {
    font-size:16px;
    width:100%;
    background:black;
    color:white;
    position:fixed;
    bottom:0;
    height:50px;
}

footer ul {
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

footer li {
}